<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <!-- Capture image display here-->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"  (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Take a photo -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click) ="addPhotoToGallery()">
      <ion-icon name="camera">

      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-col size="12" *ngFor="let photo of photoService.photos; index as position">
    <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
  </ion-col> -->

</ion-content>
